{{extend "bootstrap_layout.html"}}

{{block menu}}
  {{menu('home','MENUS2012')}}
{{end}}

{{block meta}}
<script type="text/javascript" src="{{=url_for_static('js/bootstrap-twipsy.js')}}"></script>
<script type="text/javascript" src="{{=url_for_static('js/bootstrap-popover.js')}}"></script>
<script type="text/javascript">
    LANG = "{{=_('cn')}}"
</script>
<script type="text/javascript" src="{{=url_for_static('js/schedule.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{=url_for_static('css/schedule.css')}}" />
{{end}}
{{block content}}
<h1>{{=_('北京日程安排')}}</h1>
<table class="zebra-striped">
        <tr>
            <th>{{=_('日期')}}</th>
            <th>{{=_('时间')}}</th>
            <th>{{=_('项目')}}</th>
            <th>{{=_('演讲者')}}</th>
            <th>{{=_('主题')}}</th>
        </tr>

        <tr>
            <td rowspan="6" class="date">{{=_('2012年10月13日')}}</td>
        </tr>
        <tr>
            <td>09:30-10:30</td>
            <td>{{=_('签到')}}</td>
            <td style="width:130px;">{{=_('主持人')}}</td>
            <td>{{=_('参观豆瓣,并宣告规则')}}</td>
        </tr>
        <tr>
            <td>10:30-12:00</td>
            <td>{{=_('workshop')}}</td>
            <td style="width:130px;">{{=_('SAE/盛大/RedHat ')}}</td>
            <td>{{=_('介绍各自云平台内容')}}</td>
        </tr>

        <tr>
            <td>12:00-13:00</td>
            <td>{{=_('组队')}}</td>
            <td style="width:130px;">{{=_('参加人员')}}</td>
            <td>{{=_('午餐以及自由组队,并决定作品创意')}}</td>
        </tr>
        <tr>
            <td>13:00-14:00</td>
            <td>{{=_('评定')}}</td>
            <td style="width:130px;">{{=_(' SAE/盛大/RedHat技术讲师')}}</td>
            <td>{{=_('评定作品工作量,太少或是太多的进行调整')}}</td>
        </tr>
        <tr>
            <td>14:00-16:00</td>
            <td>{{=_('hackathon ')}}</td>
            <td style="width:130px;">{{=_('所有参加人员')}}</td>
            <td>{{=_('开始编程马拉松!')}}</td>
   
        </tr>
       
        <tr>
            <td colspan="5"></td>
        </tr>
                       
 
        
        <tr>
            <td rowspan="4" class="date">{{=_('2012年10月14日')}}</td>
        </tr>
        <tr>
            <td>16:00</td>
            <td>{{=_('完成')}}</td>
            <td style="width:130px;">{{=_('所有团队')}}</td>
            <td>{{=_('完成作品开发')}}</td>
        </tr>
        <tr>
            <td>16:00-16:30</td>
            <td>{{=_('发布')}}</td>
            <td style="width:130px;">{{=_('所有团队')}}</td>
            <td>{{=_('完成作品的发布运行')}}</td>
        </tr>
        <tr>
            <td>16:30-18:00</td>
            <td>{{=_('评定')}}</td>
            <td style="width:130px;">{{=_('所有作品')}}</td>
            <td>{{=_('逐一进行5分钟宣讲,并现场评分,决出前5')}}</td>
        </tr>
         <tr>
            <td colspan="5"></td>
        </tr>
                  
        
        <tr>
            <td rowspan="27" class="date">{{=_('2012年10月20日')}}</td>
        </tr>
        <tr class="break">
            <td style="width:160px;">08:30-09:15</td>
            <td colspan="3">{{=_('签到')}}</td>
            
        </tr>
        <tr>
            <td>09:15-09:30</td>
            <td style="width:170px;">{{=_('开场')}}</td>
            <td>{{=_('组织者&赞助商')}}</td>
            <td>{{=_('包括来自赞助商Google，主办方GDG， TopGeek， CPyUG的代表进行组织介绍。')}}</td>
        </tr>
        <tr>
            <td>09:30-09:35</td>
            <td>{{=_('大会致辞 Zoom.Quiet 更加欢乐的一年')}}</td>
            <td>{{=_('周琦')}}</td>
            <td><a href="#"></a></td>
        </tr>
        <tr>
            <td>09:35-10:15</td>
            <td>{{=_('Video联播《世界各国Python高手的演讲》')}}</td>
            <td>{{=_('各国Pythoner')}}</td>
            <td>{{=_('播放来自美国、欧洲、澳洲，以及来自北京、深圳等地的Python高手代表的视频演讲，虽然他们不能前来参加，但是视频形式也一样可以参与。在同样用Python的世界，也许未来某一天有机会面对面。包括Python创始人Guido的视频演讲，以及Pylons框架的核心成员、前好看薄的创始人等的视频演讲等。')}}</td>
        </tr>
        <tr>
            <td>10:15-11:10</td>
            <td>{{=_('《 OpenShift - Develop and scale apps in the cloud 》')}}</td>
            <td>{{=_('Lu Linqing')}}</td>
            <td>{{=_('OpenShift is Red Hat\'s free, auto-scaling Platform as a Service (PaaS) for applications. As an application platform in the cloud, OpenShift manages the stack so you can focus on your code.')}}<br />
            
        </tr>
        <tr class="break">
            <td>11:10-11:15</td>
            <td colspan="3">{{=_('休息')}}</td>
            
        </tr>
        <tr>
            <td>11:15-12:00</td>
            <td>{{=_('《豆瓣的Python深入使用》')}}</td>
            <td>{{=_('洪强宁')}}</td>
            <td>{{=_('')}}<br />
            <!--<a href="http://pycon.b0.upaiyun.com/keynotes/topic/.pdf">{{=_('Keynote下载')}}</a>--></td>
            
        </tr>
        <tr class="break">
            <td>12:00-12:45</td>
            <td colspan="3">{{=_('午餐')}}</td>
            
        </tr>
        <tr>
            <td>12:50-13:35</td>
            <td>{{=_('《SAE 对Python 的深入支持及应用》')}}</td>
            <td>{{=_('丛磊')}}</td>
            <td>{{=_('')}}<br />
            <!--<a href="http://pycon.b0.upaiyun.com/keynotes/topic/.pdf">{{=_('Keynote下载')}}</a>--></td>
        </tr>
        <tr>
            <td>13:35-14:00</td>
            <td>{{=_('《Python 在互联网广告监测分析中的应用》')}}</td>
            <td>陆丹峰</td>
            <td>{{=_('AdMaster的产品研发中有一半以上是用到 Python 的,有基于高并发大数据量采集的， 每天应对 2~3B 的请求和处理 基于tornado pypy 。目前市面上数据分析做的最好的 weibo 营销产品 WeiboMaster，使用 Django + Celery，weibo 上企业影响力第一的 durex 是其客户。AdMaster研究院做 NLP/ML 服务都是采用 Python 写的, 还有在大数据处理 Hadoop 上，我们也用到了 Python，结合 Pig 封装了自己的 DSL。可以说，Admaster将 python 用到了任何可以用的地方，真正发挥了这门通用性语言的优势。')}}<br />
            <!--<a href="http://pycon.b0.upaiyun.com/keynotes/topic/.pdf">{{=_('Keynote下载')}}</a>--></td>
        </tr>
        
        <tr>
            <td>14:00-14:15</td>
            <td>{{=_('《社会化问答网站中的Python应用》')}}</td>
            <td>{{=_('杨昆')}}</td>
            <td>{{=_('介绍在网站开发和运维中用到的各种Python工具和相关插件。')}}<br />
            <!--<a href="http://pycon.b0.upaiyun.com/keynotes/topic/.pdf">{{=_('Keynote下载')}}</a>--></td>
        </tr>
        <tr>
            <td>14:15-14:30</td>
            <td>{{=_('《Python配合Hadoop 快速搭建开放型大数据仓库分析平台》')}}</td>
            <td>{{=_('童小军')}}</td>
            <td>{{=_('童小军在加入暴风搜索的数据分析团队后，经过几年努力使用 python等语言搭建了一整套一个可用的Hadoop数据平台,每天处理和分析达到几十亿行。并带领团队推出EasyHadoop(shell), ComETL(python), PhpHiveAdmin(php), CronHub(java) 等开源软件系统,丰富整个Hadoop生态系统。')}}<br />
            <!--<a href="http://pycon.b0.upaiyun.com/keynotes/topic/.pdf">{{=_('Keynote下载')}}</a>--></td>
        </tr>
        <tr>
            <td>14:30-14:45</td>
            <td>{{=_('《视觉效果制作行业的工业语言——Python》')}}</td>
            <td>{{=_('周辉')}}</td>
            <td>{{=_('初步介绍Python在视觉效果制作行业中的普及性、重要性和一些应用情况。')}}<br />
            <!--<a href="http://pycon.b0.upaiyun.com/keynotes/topic/.pdf">{{=_('Keynote下载')}}</a>--></td>
        </tr>
        
        <tr>
            <td>14:45-15:00</td>
            <td>{{=_('《豆瓣从开发到发布过程中的持续集成/发布工程实践》')}}</td>
            <td>孙毅</td>
            <td>{{=_('和大家分享豆瓣阅读这个产品开发到发布过程中的持续集成/发布工程实践。项目进行的过程中，大家针对遇到的问题一一提出完善方案，并且一起实施，这个过程，是真正的工程实践。包括本地构建环境和脚本系统；jenkins系统；代码静态检查；单元测试；api测试；webtest；打包；发布；ios自动化实践；线上监控等，全部是工程师们在项目进行的过程中不断改进的结果。')}}<br />
            <!--<a href="http://pycon.b0.upaiyun.com/keynotes/topic/.pdf">{{=_('Keynote下载')}}</a>--></td>
        </tr>

        <tr class="break">
            <td>15:00-15:15</td>
            <td colspan="3">{{=_('休息')}}</td>
            
        </tr>
        
        
        <tr>
            <td>15:15-15:30</td>
            <td>{{=_('快速演讲：《知识引擎的设计》')}}</td>
            <td>{{=_('刘远亮')}}</td>
            <td><!--<a href="http://pycon.b0.upaiyun.com/keynotes/topic/.pdf">{{=_('Keynote下载')}}</a>--></a></td>
        </tr>
        
        <tr>
            <td>15:30-16:00</td>
            <td>{{=_('快速演讲：《国外 Py 社区的组织以及技术发展特点》')}}</td>
            <td>{{=_('Alex Dong')}}</td>
            <td><!--<a href="http://pycon.b0.upaiyun.com/keynotes/topic/.pdf">{{=_('Keynote下载')}}</a>--></a></td>
        </tr>

        <tr>
            <td>16:00-16:15</td>
            <td>{{=_('快速演讲：《廉价硬件和Python构建远程交流机器人开发计划》')}}</td>
            <td>{{=_('骆逸')}}</td>
            <td>{{=_('计划以iRobot Create为基础，用廉价的硬件和Python，开发一个远程交流机器人（Telepresence Robot）。独乐乐，不若众乐乐。希望找一至两位感兴趣的工程师一起来做。')}}<!--<a href="http://pycon.b0.upaiyun.com/keynotes/topic/.pdf">{{=_('Keynote下载')}}</a>--></a></td>
        </tr>

        <tr>
            <td>16:15-16:30</td>
            <td>{{=_('快速演讲：《又一年, UliPad+UliWeb 发展紀事儿》')}}</td>
            <td>{{=_('Limodou')}}</td>
            <td><!--<a href="http://pycon.b0.upaiyun.com/keynotes/topic/.pdf">{{=_('Keynote下载')}}</a>--></a></td>
        </tr>

        <tr>
            <td>16:30-16:45</td>
            <td>{{=_('快速演讲：《Python小团队不妨知道的技术》')}}</td>
            <td>{{=_('王捷')}}</td>
            <td>{{=_('扇贝网的开发者在网站成长过程中遇到的技术问题和解决方法，包括数据安全和备份，MySQL和uwsgi服务性能优化，基于Git的开发流程管理等。希望能帮助以Python/Django为主要开发语言和框架的小技术团队少走一些弯路。')}}
            <!--<a href="http://pycon.b0.upaiyun.com/keynotes/topic/.pdf">{{=_('Keynote下载')}}</a>--></a></td>
        </tr>

        <tr>
            <td>16:45-17:00</td>
            <td>{{=_('快速演讲：《灵活的IDC业务中如何进行Python应用部属》')}}</td>
            <td>{{=_('王娇')}}</td>
            <td><!--<a href="http://pycon.b0.upaiyun.com/keynotes/topic/.pdf">{{=_('Keynote下载')}}</a>--></a></td>
        </tr>

        <tr class="break">
            <td>17:00-17:15</td>
            <td colspan="3">{{=_('休息 抽奖')}}</td>
            
        </tr>

        <tr>
            <td>17:15-18:15</td>
            <td colspan="3">{{=_('演示 Hackathon 前5名作品 现场演示')}}</td>
            
        </tr>

        <tr>
            <td>18:15-18:30</td>
            <td colspan="3">{{=_('结束 抽奖')}}</td>
            
        </tr>

        <tr class="break">
            <td>19:00-21:00</td>
            <td>{{=_('把酒话英雄 - Python爱好者与嘉宾们晚宴')}}</td>
            <td>&nbsp;</td>
            <td>{{=_('Python参会者们与嘉宾们在晚餐桌上继续深度沟通和交流。完全开发，全互动沟通。')}}<br />
{{=_('注意，这个晚宴人人都可报名参加，但是需要支付自己的餐费（即AA制）。')}}</td>
        </tr>
        
</table>
{{end}}
